body{
    font-family: Roboto Mono;
    text-align: center;
    background-image: url(img/darkcity.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    color: rgba(212, 148, 29, 0.863);

}

.menu{
    max-width: 400px;
    margin: 0 auto;
    padding: 2em;
    background-color: #1c0b04;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 2em;
}

.menu img{
    height: 250px;
    width: 225px;
}

textarea{
    background-color: rgba(160, 108, 11, 0.384);
    border: 1px solid #1c0b04;
}

button {
    background-color: rgba(212, 148, 29, 0.863);
    display: block; /* Make the button a block-level element */
    margin: 0 auto; /* Center the button horizontally */
    padding: 0.5em 1em; /* Adjust padding for size */
    border: none; /* Remove border for a cleaner look */
    border-radius: 3px;
    color: #fff; /* Set text color to white for better contrast */
    cursor: pointer; /* Add pointer cursor for better user experience */
}


#complaint{
    height: 250px;
}

input[type="text"]{
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #1c0b04;
    border-radius: 3px;
    background-color: rgba(160, 108, 11, 0.384);
}

