/*Big Bois*/

body{
    color: rgba(212, 148, 29, 0.863);
    font-family: Roboto Mono;
    background-image: url(img/coolercity.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*-----*/

.container{
    width: 90%;
    margin: 0 auto;
}

/*Text CSS*/

p{
    font-size: 50px;
    color: rgba(141, 98, 17, 0.384)
}
/*-----*/

/*header*/

.header{
    min-height: 50px;
}

.header img{
    width: 80%;
    padding: 10px;
}

h1{
    font-size: 100px;
    border-bottom: 5px solid;
    margin: 0%;
}

.menu{
    display: flex;
    justify-content: space-around;
}

.menu button{
    color: rgba(212, 148, 29, 0.863); 
    font-size: 30px;
    border: 0px;
    background-color: rgba(141, 98, 17, 0.384);
    width: 250px;
    height: 90px;
}

.menu button:hover{
    cursor: pointer;
    border-bottom: 3px solid;
}

/*-----*/

/*descriptiom*/

.description{
    text-align: center;
    background-color: #1c0b04;
}

.description img{
    border: 5px solid rgba(141, 98, 17, 0.384);
    margin: 35px;
    float: left;
    width: 325px;
    height: 300px;
}

#hey{
    font-size: 80px;
    border-bottom: 1px solid;
    margin: 20px;
}

/*-----*/

/*content*/

.content{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    text-align: center;
    min-height: 500px;
}



.content img{
    display: block;
    margin-left: auto;

}

.thumbnail{
    background-color: #1c0b04;
    border-radius: 10px;
    padding: 10px;
    width: 20%;
    margin: 10px;
}

.thumbnail p{
    font-size: 30px;
    font-style: italic;
}

.thumbnail img{
    margin: auto;
    width: 256px;
}

/*-----*/

.weeklyImg{
    text-align: center;
}

.weeklyImg img{
    border: 10px solid rgba(141, 98, 17, 0.384);
}

/*footer*/

.footer{
    text-align: center;
    padding: 0 auto;
    margin: 0 auto;
}

/*unsorted*/

br{
    line-height: 4;
}

.seperator{
    background-color: rgba(141, 98, 17, 0.384);
}



@media screen and (max-width: 768px){
    /* Define styles for smaller screens here */

    img {
        max-width: 100%; /* Ensure images don't exceed their container */
    }
    body{
        font-size: 1em; /* Example: adjust font size for smaller screens */
        /* Add any other necessary adjustments */
    }
    .content {
        width: 80%; /* Adjust width for smaller screens */
    }

    .description {
        width: 80%; /* Adjust width for smaller screens */
    }
}

/*-----*/