body{
    color: rgba(212, 148, 29, 0.863);
    font-family: Roboto Mono;
    background-image: url(street.png);
    background-repeat: no-repeat;
    background-size: cover;
}

p{
    font-size: 2em;
    color: rgba(141, 98, 17, 0.384);
    margin: 10px;
}

h1{
    font-size: 80px;
    margin: 5px;
}

.title{
    margin: auto;
    text-align: center;
    display: block;
    width: 80%;
    background-color: #1c0b04;
}

.title h1{
    border-bottom: 1px solid;
}

.content{
    display: flex;
    justify-content: space-evenly;
}

.counter{
    text-align: center;
    width: 20%;
    background-color: #1c0b04;
}

.counter h1{
    border-bottom: 1px solid rgba(212, 148, 29, 0.863);;
}

.counter h2{
    font-size: 10em;
    margin: 0%;
}

button{
    background-color: rgba(212, 148, 29, 0.863);
    display: block;
    margin: 10px auto;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    width: auto;
}
