/* Base styles */
body {
    margin: 0;
    padding: 0;
    color: rgba(212, 148, 29, 0.863);
    font-family: Roboto Mono, sans-serif; /* Use a fallback sans-serif font */
    background-image: url(street.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 16px; /* Adjust font size for better mobile readability */
}

p {
    font-size: 1.5em; /* Decrease font size for paragraphs */
    color: rgba(141, 98, 17, 0.8); /* Slightly increase opacity */
    margin: 10px;
}

h1 {
    font-size: 40px; /* Decrease font size for heading */
    margin: 5px;
}

.title {
    margin: auto;
    text-align: center;
    display: block;
    width: 90%; /* Increase width for better mobile layout */
    background-color: #1c0b04;
    padding: 10px; /* Add some padding for spacing */
}

.title h1 {
    border-bottom: 1px solid rgba(212, 148, 29, 0.863);
    font-size: 36px; /* Decrease font size for the title */
}

.content {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
    justify-content: space-evenly;
}

.counter {
    text-align: center;
    width: 45%; /* Adjust width for better mobile layout */
    margin: 10px; /* Add margin for spacing */
    padding: 10px; /* Add some padding for spacing */
}

.counter h1 {
    border-bottom: 1px solid rgba(212, 148, 29, 0.863);
    font-size: 28px; /* Decrease font size for counters */
}

.counter h2 {
    font-size: 4em; /* Decrease font size for counter numbers */
    margin: 0;
}

button {
    background-color: rgba(212, 148, 29, 0.863);
    display: block;
    margin: 10px auto;
    padding: 0.5em 1em;
    border: none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    width: auto;
}

@media screen and (max-width: 768px) {
    /* Styles for smaller screens */

    body {
        background-repeat: repeat;
        font-size: 14px; /* Further decrease font size for smaller screens */
    }

    .content {
        flex-direction: column;
        width: 100%; /* Allow content to take full width on smaller screens */
    }

    .counter {
        width: 90%; /* Increase width for better mobile layout */
    }
}
