/* Base styles */
body {
    margin: 0;
    padding: 0;
    color: rgba(212, 148, 29, 0.863);
    font-family: Roboto Mono, sans-serif; /* Use a fallback sans-serif font */
    background-image: url(street.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-size: 1em; /* Adjust font size for better mobile readability */
}

p {
    font-size: 1.5em; /* Decrease font size for paragraphs */
    color: rgba(141, 98, 17, 0.8); /* Slightly increase opacity */
    margin: 0.5em;
}

h1 {
    font-size: 3em; /* Decrease font size for heading */
    margin: 0.2em;
}

.title {
    margin: auto;
    text-align: center;
    display: block;
    width: 90%; /* Increase width for better mobile layout */
    background-color: #1c0b04;
    padding: 0.6em; /* Add some padding for spacing */
}

.title h1 {
    border-bottom: 1px solid rgba(212, 148, 29, 0.863);
    font-size: 3em; /* Decrease font size for the title */
}

.content {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
    justify-content: space-evenly;
}

.counter {
    text-align: center;
    width: 45%; /* Adjust width for better mobile layout */
    margin: 0.6em; /* Add margin for spacing */
    padding: 0.6em; /* Add some padding for spacing */
}

.counter h1 {
    border-bottom: 1px solid rgba(212, 148, 29, 0.863);
    font-size: 2em; /* Decrease font size for counters */
}

.counter h2 {
    font-size: 4em; /* Decrease font size for counter numbers */
    margin: 0;
}

button {
    background-color: rgba(212, 148, 29, 0.863);
    display: block;
    margin: 10px auto;
    padding: 0.5em 1em;
    border: 0;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

input[type="text"]{
    height: 2em;
    width: 15em;
    text-align: center;
    background-color: #1c0b04;
    opacity: 50%;
    border: 0;
    color: rgba(141, 98, 17, 0.8);
}

@media screen and (max-width: 768px) {
    /* Styles for smaller screens */

    .content {
        flex-direction: column;
        width: 100%; /* Allow content to take full width on smaller screens */
    }

    .counter {
        width: 90%; /* Increase width for better mobile layout */
    }
}
