

body {
    font-family: Roboto Mono;
    background-image: url(wallpaper.jpg);
    background-size: cover;
    color: rgba(212, 148, 29, 0.863);
}

.container {
    min-height: 40em;
    margin: 0 auto;
    display: flex; /* Added */
    flex-direction: column; /* Added to stack thumbnails vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.thumbnail {
    overflow-wrap: break-word;
    text-align: center;
    background-color: #1c0b04;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    margin: 10px;
}

img{
    display: block;
    margin: 1em auto;
    height: 11em;
    width: 11em;
}

h1 {
    font-size: 6em;
    border-bottom: 5px solid rgba(212, 148, 29, 0.863);
}

a {
    color: rgba(212, 148, 29, 0.863);
    text-decoration: none;
}

.links {
    background-color: #2D1912;
    border-radius: 5px;
    padding: 0.6em;
    width: 30%;
}

.footer{
    margin: 1em;
    text-align: center;
}

@media screen and (max-width: 768px){
    /* Define styles for smaller screens here */

    h1{
    font-size: 3em;
    }

    body{
        font-size: 1em; /* Example: adjust font size for smaller screens */
        /* Add any other necessary adjustments */
    }
    .container {
        width: 80%; /* Adjust width for smaller screens */
    }

    .thumbnail {
        width: 80%; /* Adjust width for smaller screens */
    }
}