body {
    font-family: Roboto Mono;
    background-image: url(wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(212, 148, 29, 0.863);
}

.container {
    min-height: 500px;
    margin: 0 auto;
    display: flex; /* Added */
    flex-direction: column; /* Added to stack thumbnails vertically */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.thumbnail {
    word-break: break-all;
    text-align: center;
    background-color: #1c0b04;
    border-radius: 10px;
    padding: 10px;
    width: 30%;
    margin: 10px;
}

img{
    display: block;
    margin: auto;
    height: 176px;
    width: 176px;
}

h1 {
    font-size: 6em;
    border-bottom: 5px solid rgba(212, 148, 29, 0.863);
}

a {
    color: rgba(212, 148, 29, 0.863);
    text-decoration: none;
}

.links {
    background-color: #2D1912;
    border-radius: 5px;
    padding: 10px;
    width: 30%;
}

.footer{
    text-align: center;
}

@media screen and (max-width: 768px){
    /* Define styles for smaller screens here */

    h1{
    font-size: 3em;
    }

    img {
        max-width: 100%; /* Ensure images don't exceed their container */
    }
    body{
        font-size: 1em; /* Example: adjust font size for smaller screens */
        /* Add any other necessary adjustments */
    }
    .container {
        width: 80%; /* Adjust width for smaller screens */
    }

    .thumbnail {
        width: 80%; /* Adjust width for smaller screens */
    }
}